{% extends "shop/base.html" %}
{% block main_block %}
    <div class="container flex justify-center items-center min-h-screen">
        <div class="w-full max-w-md shadow-lg p-6 rounded-md bg-white">
            <form action="" method="post">
                {% csrf_token %}
                <h1 class="text-center text-2xl font-bold mb-4">Contact Information</h1>
                {{ form }}
                <button type="submit" class="rounded-md border p-2 bg-black text-white mt-3 w-full">ADD</button>
            </form>
        </div>
    </div>
{% endblock %}
